<!-- <pre>{{userForm.value | json}}</pre> -->
<form action="" #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
    <div class="form-group">
        <input type="hidden" class="form-control" name="id" [(ngModel)]="inputValues.id" ngModel required #id="ngModel"
            minlength="6">
    </div>
    <div class="form-group">
        <label for="">Tên user</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="inputValues.name" [value]="userForm.name"
            ngModel required #name="ngModel" minlength="6">
        <app-show-validate [field]="name" key="Tên"></app-show-validate>
    </div>
    <div class="form-group">
        <label for="">Tuổi user</label>
        <input type="number" class="form-control" [(ngModel)]="inputValues.age" name="age" ngModel required
            #age="ngModel" min="1" max="100">
        <app-show-validate [field]="age" key="Tuổi"></app-show-validate>
    </div>
    <div class="form-group">
        <label for="">Email</label>
        <input type="text" class="form-control" [(ngModel)]="inputValues.email" name="email" ngModel required
            #email="ngModel" min="1" max="100">
        <app-show-validate [field]="email" key="Email"></app-show-validate>
    </div>
    <div class="form-group">
        <label for="">SĐT</label>
        <input type="number" class="form-control" [(ngModel)]="inputValues.sdt" name="sdt" ngModel required
            #sdt="ngModel" min="9">
        <app-show-validate [field]="sdt" key="SĐT"></app-show-validate>
    </div>
    <div>
        <button class="btn btn-success" [disabled]="!userForm.valid">Submit</button>
    </div>
</form>
<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Tên</th>
                <th scope="col">Tuổi</th>
                <th scope="col">Email</th>
                <th scope="col">SĐT</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.age}}</td>
                <td>{{user.email}}</td>
                <td>{{user.sdt}}</td>
                <td>
                    <button class="btn btn-primary" (click)="onEdit(users, user.id)">Sửa</button>
                    <button class="btn btn-danger" (click)="onRemove(user.id)">Xóa</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>