<div class="container">

  <div>
    <h1 class="text-center">Angular Form</h1>
    <app-form></app-form>
  </div>

  <hr>
  <!-- <div>
    <p>event</p>
    <button class="btn btn-primary" (click)="onClick()">{{showStatus ? "Ẩn" : "Hiện"}} bảng dữ liệu</button>
  </div> -->
  <!-- <div>
    <p>Input</p>
    <input type="text" id="input" (input)="onInput($event, 'SK input:')">
  </div> -->
  <!-- <div class="mt-3">
    <div>
      <label for="input">Tên:
        <input type="text" id="input" (input)="onInput($event , 'name')" [value]="inputValue.name">
      </label>
    </div>
    <div>
      <label for="avatar">Avatar:
        <input type="text" id="avatar" (input)="onInput($event, 'avatar')" [value]="inputValue.avatar">
      </label>
    </div>
    <div>
      <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
    </div>
  </div>

  <div>
    Tên SV: <app-name [name]="students[0].name"></app-name>
  </div>
  <div>
    Mã SV: <app-identity [identity]="students[0].id"></app-identity>
  </div>
  <h1 class="text-center mb-5">Champions League</h1> -->

  <!-- <app-table 
  [champions]='champs' class="{{showStatus ? 'db ': 'dn' }}"
  ></app-table> -->
  <!-- <app-table [champions]='champs' *ngIf="showStatus"></app-table> -->
</div>